html,
body{
    width:100%;
    height: 100%;
    margin:0;
    font-family:STHeiti,SimHei,STSong,SimSun, STKaiti, "Kaiti SC",STFangsong;
    box-sizing: border-box;
}

.container {
    width: 980px;
    margin: 40px auto;
    box-shadow: 1px 1px 2px rgba(136, 136, 136, 0.43);
    clear: both;
    overflow: auto;
    background: linear-gradient(to left, #fff 65%, #04978a 35%);
}
th{
    vertical-align: text-top;
}
table{
    width: 100%;
    line-height: 22px;
    text-align: justify;
}
.left-side{
    width: 35%;
    float: left;
    color: #fff;
    padding: 44px 20px 65px;
    box-sizing: border-box;
}
.photo-box{
    text-align: center;
}
.left-side img{
    width: 50%;
    border-radius: 50%;
    margin: auto;
}
.left-side table{
    padding: 0 20px;
}
.left-side table a{
    color: #fff;
}
.left-side table p{
    margin-top: 0;
}
.left-side table span{
    color:#004D40;
    margin: 0 4px 0 0;
    font-size: 20px;
}
h2{
    letter-spacing: 5px;
    margin: 10px;
}
h3{
    letter-spacing: 1px;
    margin: 0 0 100px;
    padding-bottom: 35px;
    border-bottom: 3px #fff solid;
}
.skill-label{
    width: 35%;
    float: left;
    box-sizing: border-box;
    text-align: end;
    padding: 0 10px 0 0;
    font-size: 16px;
}
ul{
    list-style-type: none;
    padding: 10px 35px 10px 25px;
    margin: 40px 0 95px 0;
}
li{
    clear: both;
    padding: 15px 0;
}
.progress-box{
    width: 65%;
    float: right;
    background: rgba(64, 64, 64, 0.44);
    border-radius: 5px;
    box-sizing: border-box;
}
.progress-bar{
    height: 12px;
    background: #E0F2F1;
    border-radius: 5px;
}

.right-side{
    width: 65%;
    float: right;
    padding: 44px 5px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 600;
}
.right-side table{
    padding: 0 40px 35px;

}
.right-side table a{
    color: rgba(0, 77, 64, 0.65);
    text-decoration: none;
}
.right-side table p{
    margin: 15px 0;
}
.right-side table .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.project-label{
    font-size: 18px;
    color: rgba(0, 77, 64, 0.67);
    margin-bottom: 10px;
    font-family: initial;
    letter-spacing: 1px;
}
.skill-tag{
    font-family: initial;
    border-bottom: 1px rgba(0, 137, 123, 0.16) solid;
    padding: 0 0 0 20px;
    font-size: 15px;
    color: #1ea296;
}
.project-content{
    padding: 0 0 0 20px;
    font-size: 15px;
}

.aside{
    position: fixed;
    right: -40px;
    top:40px;
    width: 200px;
    height: 30px;
    background-color: #1ea296;
    text-align: center;
    line-height: 30px;
    transform: rotate(45deg);
}
.float-button{
    position: fixed;
    right: 10%;
    top:90%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1ea296;
    text-align: center;
    color: #fff;
    line-height: 65px;
    font-size: 30px;
    text-decoration: none;
}

.aside a{
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
}
.en-version{
    font-family: initial;
}
.en-version table{
    line-height: 20px;
}
.en-version h2{
    letter-spacing: 0;
}
.en-version .left-side table{
    letter-spacing: 1px;
}